:root {
	/* https://www.northwestern.edu/brand/visual-identity/color/digital-colors.html */
	--foreground-color: #342F2E; /* "Rich Black 80" */
	--background-color: #FFFFFF;
	--button-foreground-color: #342F2E; /* "Rich Black 80" */
	--button-background-color: #FFFFFF;
	--highlight-color: #4E2A84; /* "Northwestern Purple" */
	--hover-color: #B6ACD1; /* "Northwestern Purple 30" */
}

#container {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	overflow: hidden;
	background-color : var(--background-color);
	color: var(--foreground-color);
}

.button{
	float:left;
	font-family: sans-serif;
	border-bottom: 1px solid black;
	text-align:center;
	background-color: var(--button-background-color);
	color: var(--button-foreground-color);
	cursor: pointer;
}
.buttonHover:hover {
	background-color: var(--hover-color);
	/*color: var(--button-background-color);*/
}
.buttonClicked {
	background-color: var(--highlight-color);
	color: var(--button-background-color);
}
.listNames {
	font: 16px sans-serif;
	font-family: sans-serif;
	padding:4px;
	margin:0;
	border-bottom: 1px solid black;
	cursor:pointer;
}
.fundInfo {
	font: 12px sans-serif;
	font-family: sans-serif;
	font-style: italic;
	padding:4px;
	padding-left:8px;
}
.listNamesHover:hover {
	background-color: var(--hover-color);
	/*color: var(--button-background-color);*/
}
